---
import Xcom from '~/components/common/X';
import Facebook from '../common/Facebook';
import TruthSocial from '../common/TruthSocial';

import Image from '~/components/common/Image.astro';

export interface CandidateProps {
  image?: string;
  name: string;
  office: string;
  incumbent?: boolean;
  location?: 'Local' | 'State' | 'Federal';
  xProfile?: string;
  facebook?: string;
  truthsocial?: string;
  url?: string;
}

const {
  image = await Astro.slots.render('image'),
  name,
  office,
  incumbent,
  location,
  xProfile,
  facebook,
  truthsocial,
  url,
} = Astro.props as CandidateProps;
---

<div class="p-4 h-full flex flex-col justify-between">
  <a href={url} target="_blank">
    <div>
      {
        image && (
          <div class="relative m-auto max-w-5xl">
            {typeof image === 'string' ? (
              <Fragment set:html={image} />
            ) : (
              <Image
                class="mx-auto rounded-md w-full shadow-md"
                widths={[192]}
                sizes="192px"
                loading="eager"
                width={192}
                height={192}
                {...image}
              />
            )}
          </div>
        )
      }
    </div>
    <div class="text-center mt-4">
      <h2 class="text-lg font-bold font-heading">{name}</h2>
      <p class="text-gray-600 font-semibold">{office}</p>
      {incumbent && <span class="block mt-2 text-sm text-gray-600 font-semibold">*Incumbent</span>}
    </div>
  </a>
  <div class="mt-4 flex justify-center space-x-2">
    {
      xProfile && (
        <a href={xProfile} target="_blank" rel="noopener noreferrer" aria-label="X dot com">
          <Xcom className="w-8 h-8 rounded-full text-blueAGR fill-blueAGR hover:text-redAGR hover:fill-redAGR dark:fill-redAGR dark:hover:fill-blueAGR" />
        </a>
      )
    }
    {
      facebook && (
        <a href={facebook} target="_blank" rel="noopener noreferrer" aria-label="Facebook">
          <Facebook className="w-8 h-8 text-blueAGR fill-blueAGR hover:text-redAGR hover:fill-redAGR dark:fill-redAGR dark:hover:fill-blueAGR" />
        </a>
      )
    }
    {
      truthsocial && (
        <a href={truthsocial} target="_blank" rel="noopener noreferrer" aria-label="TruthSocial">
          <TruthSocial className="w-8 h-8 text-blueAGR fill-blueAGR hover:text-redAGR hover:fill-redAGR dark:fill-redAGR dark:hover:fill-blueAGR" />
        </a>
      )
    }
  </div>
</div>
